@font-face {
    /* Champignon font by ClaudeP on dafont.com */
    font-family: Champignon;
    src: url("champ-font/Champignon.otf");
}

@font-face {
    /* Cinzel font by Ndiscovered on dafont.com */
    font-family: Cinzel;
    src: url("cinzel-font/Cinzel-Regular.otf");
}

/* color palettes come from the Sherwin Williams color palette "The Naturalist" at https://www.sherwin-williams.com/content/colorid/palettes/naturalist */
body {
    background-color: #9D986F;
}

/* heading and paragraph styles */
h1 {
    font-family: Champignon;
    font-size: 100px;
    color: #DCC797;
    margin: 0;
    padding: 60px 0 0;
    line-height: 0;
    text-align: center;
}

h2 {
    font-family: Cinzel;
    font-size: 35px;
    color: #DCC797;
    margin: 20px 0 25px;
    padding: 0;
    line-height: 0.5;
    text-align: center;
}

h3 {
    font-family: Georgia;
    font-size: 20px;
    color: #DCC797;
    margin: 20px 0;
    padding: 0;
    line-height: 0.5;
    text-align: center;
}

.subtitle {
    color: #EFE8DB;
    font-family: Georgia;
    font-weight: bolder;
    font-size: 18px;
    margin: 20px 0 5px;
    line-height: 0;
}

p {
    color: #EFE8DB;
    font-family: Georgia;
    font-size: 18px;
}

img { object-fit: cover; }

/* line break thing */
br { margin: 10px; }

/* makes it so text is hidden in the background but appears when you hover over it */
p.secret-info { color: #9D986F; }
p.secret-info:hover { color: #EFE8DB; }

ol, ul {
    color: #EFE8DB;
    font-family: Georgia;
    font-size: 18px;
}

ul {
    list-style: none;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    content: "-";
    padding-right: 5px;
}

/* makes it so spacing between actual long body paragraphs isn't super large */
.long-paragraph {
    margin: 15px 0 5px;
}

/* link style */
a:link, a:visited {
    color: #EFE8DB;
    text-decoration: underline;
}

a:hover, a:active {
    color: #C8BCAB;
    text-decoration: none;
}

/* link style for headings */
a.heading:link, a.heading:visited {
    color: #DCC797;
    text-decoration: none;
}

a.heading:hover, a.heading:active {
    color: #877459;
    text-decoration: none;
}

.weird-link { text-indent: 100px; } /* indents links so that they don't overlap with the headings */

/* hidden links! */
a.hidden:link, a.hidden:visited, a.hidden:hover, a.hidden:active {
    color: #EFE8DB;
    text-decoration: none;
}

/* contains the web page in a flex box that can be divided up into smaller parts */
.large-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

/* makes it look like there's a piece of paper in the middle of the page :-) */
.paper-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.paper-center {
    width: 75%;
    min-height: 550px;
    margin-top: 25px;
    padding: 48px 48px 23px;
    background-color: #EFE8DB;
}

.paper-text {
    color: #484C49;
    margin: 0 0 25px;
}

a.paper:link, a.paper:visited {
    color: #484C49;
    text-decoration: none;
}

a.paper:hover, a.paper:active {
    color: #5E6259;
    text-decoration: none;
}

.paper-sides {
    width: 12.5%;
}

/* this is where the headings and subheadings of the page will go */
.heading-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* this is where other page content can go, and can have other, smaller flexboxes in it */
.misc-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* smaller container within misc-container */
.small-misc {
    display: flex;
    flex-direction: column;
    width: 49%;
    justify-content: start;
    align-content: space-between;
    margin-left: 5px;
    padding: 0;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
}

/* sections inside sidebar-left */
.sub-sidebar-left {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 5px;
    margin: 0 15px;
}

/* where the images go so they can have subtitles! should only hold one image */
.image-jail {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

/* flexboxes to make a calendar. idk how i'll make this work on phone but we'll figure it out. */
.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.calendar-head {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    outline: black solid 1px;
}

.calendar-week {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
    outline: black solid 1px;
}

.calendar-day-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
}

.calendar-day-content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}

/* phone settings */ 
@media (max-width: 800px) {
    /* text */ 
    h1 { font-size: 50px; }
    h2 { font-size: 20px; margin: 10px 0 15px; }
    h3 { font-size: 15px; margin: 10px 0;}
    p, .subtitle { font-size: 12px; }
    .weird-link { text-indent: 50px; }
    ul, ol { font-size: 12px; }

    /* flex boxes */
    .large-container { flex-direction: column; width: 100%; flex-wrap: nowrap; justify-content: center; }
    .misc-container { flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: flex-start; }
    .sidebar-left, .sidebar-right { flex-wrap: wrap; width: 100%; margin: 0; padding: 0; }
    .sub-sidebar-left { width: 100%; justify-content: center; margin: 0; }
    .image-jail { flex-wrap: wrap; width: 100%; }

    /* other stuff */
    img { width: 100%; }
    br { margin: 5px; }
}